@model OnlineStore.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Product Details</h2>
<hr />
<div>

    <partial name="_Products2" />

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> @*'asp-controller' automatically defined as current controller.*@
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
    </div>
</div>
