@model OnlineStore.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit product";
}

<h1>Edit Product</h1>
<hr />
<div class="row">
    <div class="col-md-4"> @* Column 1 *@ @* 'col-md-4': Bootstrap occupied columns out of 12 (maximum). *@
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageUrl" /> @* Keep image URL if file is unchanged. *@
            
            <partial name="_Products" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-md-4"> @* Column 2 *@
        @if (!string.IsNullOrEmpty(Model.ImageFullPath)) @* If image url exists *@
        {
            <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto" /> @* Get image from path *@ @* 'Content': application path. *@
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidationCurrencyPartial");
    }
}
