
@{
    ViewData["Title"] = "Error404";
}

<h1 class="h1-notfound">404</h1>
<p class="zoom-area">Page not found.</p>
<section class="error-container-notfound">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
</section>
<div class="link-container-notfound">
    <a target="_blank" href="https://www.silocreativo.com/en/creative-examples-404-error-css/" class="more-link">Visit the original article</a>
</div>

