
@{
    ViewData["Title"] = "Error404";
}

<h1 class="h1-notfound">404</h1>
<p class="zoom-area">Page not found.</p>
<section class="error-container-notfound">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
</section>

